:root {
  --ion-color-primary: #0ea5e9;
  --ion-color-primary-rgb: 14, 165, 233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0c91cd;
  --ion-color-primary-tint: #26aeeb;

  --ion-color-secondary: #64748b;
  --ion-color-secondary-rgb: 100, 116, 139;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #58667a;
  --ion-color-secondary-tint: #748297;

  --ion-color-tertiary: #8b5cf6;
  --ion-color-tertiary-rgb: 139, 92, 246;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #7a51d8;
  --ion-color-tertiary-tint: #976cf7;

  --ion-color-success: #22c55e;
  --ion-color-success-rgb: 34, 197, 94;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1ead53;
  --ion-color-success-tint: #38cb6e;

  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a823;

  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  --ion-color-dark: #0f172a;
  --ion-color-dark-rgb: 15, 23, 42;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1425;
  --ion-color-dark-tint: #272e3f;

  --ion-color-medium: #94a3b8;
  --ion-color-medium-rgb: 148, 163, 184;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #828fa2;
  --ion-color-medium-tint: #9facbf;

  --ion-color-light: #f1f5f9;
  --ion-color-light-rgb: 241, 245, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d4d8db;
  --ion-color-light-tint: #f2f6fa;

  --ion-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #38bdf8;
    --ion-color-primary-rgb: 56, 189, 248;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #31a6da;
    --ion-color-primary-tint: #4cc4f9;

    --ion-background-color: #0f172a;
    --ion-background-color-rgb: 15, 23, 42;

    --ion-text-color: #f8fafc;
    --ion-text-color-rgb: 248, 250, 252;

    --ion-toolbar-background: #1e293b;
    --ion-item-background: #1e293b;
    --ion-card-background: #1e293b;
  }
}
